.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Variables */
:root {
 --basic-red: #EE3643;
 --basic-dark-red: #BA2732;
 --basic-green: #63A63E;
 --basic-black: #000000;
 --basic-dark-grey: #293449;
 --basic-grey: #32425C;
 --basic-greylight: #A9A9A9;
 --basic-extra-greylight: #C5C5C5;
 --basic-neutral: #F9F5F0;
 --basic-background: #F1F5F7;
 --basic-white: #FFFFFF;

 --special-yellow: #FFBF47;
 --special-blue: #3BBCE3;
 --special-lilac: #DC91D8;
 --special-greenlight: #8ED78F;
 --special-yellowlight: #FFD180;
 --special-green: #5FBB2D;
 --greylight: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #EAEAEA;
 --special-extra-greylight: #F3F7F9;
 --special-super-greylight: #E5E5E5;
 --font-cuprum: "Cuprum", "Arial", sans-serif;
 --font-pt-sans: "PT Sans","Arial", sans-serif;
}

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: var(--font-cuprum)
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-header {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  background-color: var(--basic-background);
}

.logo {
  background-color: var(--basic-red);
}

.logo:active,
.logo:focus {
  background-color: var(--basic-dark-red);
}

.header-up  {
  background-color: var(--basic-dark-grey);
}

.bookmarks-link:active,
.bookmarks-link:focus,
.basket-link:focus,
.basket-link:active {
  background-color: #161D29;
  color: rgba(255, 255, 255, 0.5);
}

.search input[type="search"] {
  font: inherit;
  color: var(--basic-black);
  background-color: transparent;
  border: none;
}

.search input:focus  {
  color: var(--basic-black);
  background-color: var(--basic-white);
  outline: none;
}

.search-form input::placeholder {
  font: inherit;
  color: var(--basic-white);
  background-color: transparent;
  border: none;
}
.order {
  background-color: var(--basic-green);
  color: var(--basic-white);
}

.order:hover {
  background-color: var(--special-green);
}

.order:active,
.order:focus {
  background-color: var(--basic-green);
  color: rgba(255, 255, 255, 0.5);
}

.basket {
  background-color: var(--basic-red);
}

.main-navigation {
  background-color: var(--basic-grey);
}

.site-navigation {
  list-style: none;
}

.site-navigation a,
.bookmarks-link,
.basket-link {
  color: var(--basic-white);
}

.site-navigation a:hover {
  background-color: var(--basic-dark-grey);
}

.site-navigation a:not([href]):hover {
  background-color: inherit;
}

.site-navigation a:active,
.site-navigation a:focus {
  background-color: #1D2739;
  opacity: 0.5;
}

.title {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
}

.tel-link {
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-red);
  padding: 7px 45px 8px 74px;
  border: 3px solid var(--basic-white);
}

.address {
  font-size: 14px;
  line-height: 24px;
  color: var(--basic-grey);
}

.login,
.registration {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.login:hover,
.registration:hover {
  color: var(--basic-red);
}

.login:active,
.registration:active,
.login:focus,
.registration:focus {
  color: var(--basic-extra-greylight);
}

.info p {
  font-family: PT Sans;
  font-size: 13px;
  line-height: 24px;
}

.info h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.info ul {
  font-size: 18px;
  line-height: 24px;
  list-style: none;
}

.info a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.main-footer {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  background-color: var(--basic-grey);
}

.footer-up  {
  font-size: 18px;
  line-height: 24px;
}

.footer-down {
  background-color: var(--basic-dark-grey);
  font-size: 16px;
  line-height: 18px;
}

.footer-site-navigation,
.footer-catalog-navigation,
.social {
  list-style: none;
}

.footer-nav-link {
color: var(--basic-background);
}

.footer-catalog-nav-link {
color: var(--special-yellowlight);
}

.footer-nav-link:hover,
.footer-catalog-nav-link:hover {
text-decoration: underline;
}

.footer-nav-link:active,
.footer-catalog-nav-link:active,
.footer-nav-link:focus,
.footer-catalog-nav-link:focus {
  opacity: 0.5;
  text-decoration:none;
}

.footer-address {
  color: var(--special-extra-greylight);
}
.copyright {
color: var(--basic-white);
}

.feedback {
color: var(--basic-white);
}

.developed {
  color: var(--basic-white);
}

.feedback-link,
.developed-link {
  color: var(--special-yellowlight);
}

.feedback-link:hover,
.developed-link:hover {
  text-decoration: underline;
}

.feedback-link:active,
.feedback-link:focus,
.developed-link:active,
.developed-link:focus  {
  color: var(--basic-red);
  text-decoration:none;
}

.user {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.my-orders,
.personal-account {

  font-size: 16px;
  line-height: 18px;
  color: var(--basic-grey);
}

.my-orders:hover,
.personal-account:hover {
  color: var(--basic-red);
}

.user:active,
.user:focus,
.my-orders:active,
.my-orders:focus,
.personal-account:active,
.personal-account:focus {
  color: var(--basic-greylight);
}

.breadcrumbs a {
  font-family: var(--font-pt-sans);
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
}
.product-title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-grey);
  background-color: var(--basic-background);
}

.radio-filter-title,
.checkbox-filter-title {
  font-family: var(--font-pt-sans);
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}

.radio-filter,
.checkbox-filter {
  font-family: var(--font-pt-sans);
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}

.radio-filter ul,
.checkbox-filter ul {
  list-style: none;
}

.button-submit-filter {
  font: inherit;
  font-size: 13px;
  line-height: 18px
  text-align: center;
  color: var(--basic-black);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-white);
  border: 1px solid var(--special-super-greylight);
  outline: none;
}

.product-name-title {
  font-family: var(--font-pt-sans);
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}

.old-price {
  font-family: var(--font-pt-sans);
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: var(--basic-greylight);
}

.price {
  font-family: var(--font-pt-sans);
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.product-list ul {
  list-style: none;
}
