.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Variables */
:root {
 --basic-red: #EE3643;
 --basic-dark-red: #BA2732;
 --basic-green: #63A63E;
 --basic-black: #000000;
 --basic-dark-grey: #293449;
 --basic-grey: #32425C;
 --basic-greylight: #A9A9A9;
 --basic-extra-greylight: #C5C5C5;
 --basic-neutral: #F9F5F0;
 --basic-background: #F1F5F7;
 --basic-white: #FFFFFF;

 --special-yellow: #FFBF47;
 --special-similar-yellow: #FFC047;
 --special-blue: #3BBCE3;
 --special-lilac: #DC91D8;
 --special-greenlight: #8ED78F;
 --special-yellowlight: #FFD180;
 --special-green: #5FBB2D;
 --greylight: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #EAEAEA;
 --special-extra-greylight: #F3F7F9;
 --special-super-greylight: #E5E5E5;
 --font-cuprum: "Cuprum", "Arial", sans-serif;
 --font-pt-sans: "PT Sans","Arial", sans-serif;
}

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: var(--font-cuprum)
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
/* Grid */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* Main header */

.main-header {


}
/* header-up */

.header-down {

  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  padding-top: 41px;

}

/* Container */

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header
 {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  background-color: var(--basic-background);
  margin-bottom: 59px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--basic-red);
  box-shadow: 0 5px 0 0 #b52933;
  width: 220px;
  min-height: 42px;
}

.logo:active,
.logo:focus {
  background-color: var(--basic-dark-red);
}

.header-up  {
  display: flex;
  min-height: 42px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--basic-dark-grey);
  padding-left: 130px;
  padding-right: 130px;
}





.bookmarks-link:active,
.bookmarks-link:focus,
.basket-link:focus,
.basket-link:active {
  background-color: #161D29;
  color: rgba(255, 255, 255, 0.5);
}

.search-form {
  width: 271px;
}

.search input[type="search"] {
  font: inherit;
  color: var(--basic-black);
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  width: 100%;
  min-height: 42px;
  padding-left: 42px;
}

.search input:focus  {
  color: var(--basic-black);
  background-color: var(--basic-white);
  outline: none;
}

.search-form input::placeholder {
  font: inherit;
  color: var(--basic-white);
  background-color: transparent;
  border: none;
}

.basket-link,
.bookmarks-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 150px;
  min-height: 42px;
}
.order {
  background-color: var(--basic-green);
  color: var(--basic-white);
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 150px;
  min-height: 42px;
}

.order:hover {
  background-color: var(--special-green);
}

.order:active,
.order:focus {
  background-color: var(--basic-green);
  color: rgba(255, 255, 255, 0.5);
}

.basket {
  background-color: var(--basic-red);
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 136px;
  min-height: 42px;
}


.main-navigation {
  background-color: var(--basic-grey);
  width: 940px;
  margin: 0 auto;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 52px;
  padding-right: 47px;
  height: 60px;
  margin-bottom: 60px;

}


.site-nav-link,
.bookmarks-link,
.basket-link {
  color: var(--basic-white);

}

.site-nav-link:hover {
  background-color: var(--basic-dark-grey);
  padding-top: 19px;
  padding-bottom: 20px;
  /*непонятно, как задать ширину фона ссылок при наведении*/
}

.site-nav-link:not([href]):hover {
  background-color: inherit;

}

.site-nav-link:active,
.site-nav-link:focus {
  background-color: #1D2739;
  opacity: 0.5;
}

.title {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
  width: 197px;
  min-height: 71px;
  padding-top: 2px;
    padding-right: 52px;
    padding-bottom: 2px;
    padding-left: 52px;
}

.header-contacts {
  box-sizing: border-box;
  text-align: center;

}

.tel-link {
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-red);
  padding: 7px 45px 8px 74px;
  border: 3px solid var(--basic-white);
}

.address {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  color: var(--basic-grey);

}

.login,
.registration {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  padding-top: 12px;
  padding-bottom: 12px;

}

.login {
  padding-left: 45px;
  padding-right: 27px;
  margin-right: 10px;
  margin-left: 69px;
}

.registration  {
  padding-left: 24px;
  padding-right: 24px;

}


.login:hover,
.registration:hover {
  color: var(--basic-red);
}

.login:active,
.registration:active,
.login:focus,
.registration:focus {
  color: var(--basic-extra-greylight);
}
/*красная зона - вторая часть задания раздела Введение в CSS" №9. Завершаем базовую стилизацию*/
.block-1 {
  width: 940px;
  margin: auto;
  padding: 0;
  padding-left: 130px;
  padding-right: 130px;
  padding-top: 64px;
}

.categories-items {
  color: var(--basic-white);
}
.category-item:first-child {
  background-color: var(--special-yellow);
}

.category-item:nth-child(2) {
  background-color: var(--special-blue);
}

.category-item:nth-child(3) {
  background-color: var(--special-lilac);
}

.category-item:nth-last-child(2) {
  background-color: var(--special-greenlight);
}

.category-item:last-child {
  background-color: var(--special-similar-yellow);
}

.category-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.category-description {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: rgba(255, 255, 255, 0.3);
}

.slider-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.btn {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--basic-red);
  color: var(--basic-white);
  padding-top: 11px;
  padding-bottom: 9px;
}

.btn-more {
  padding-left: 46px;
  padding-right: 46px;
}

.section-title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  background-color: var(--basic-neutral);
  color: var(--basic-grey);
}

.btn-all-products {
  padding-left: 24px;
  padding-right: 24px;
}

.btn-all-companies {
  padding-left: 39px;
  padding-right: 38px;
}

.services-section {
  background-color: var(--basic-background);

}
.services-title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.services-description {
  font-family: var(--font-pt-sans);
  font-size: 13px;
  line-height: 24px;
}
.service-title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-grey);
}
.btn-submit-request {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--basic-red);
  color: var(--basic-white);
}

.pagination {
  font-family: var(--font-pt-sans);
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.pagination a {
  color: var(--basic-black);
}

.pagination-current {
  background-color: var(--basic-red);
}

.catalog-info {
  background-color: var(--basic-background);
}
.catalog-info-title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.catalog-info-description {
  font-family: var(--font-pt-sans);
  font-size: 13px;
  line-height: 24px;
}

/*красная зона*/
.info {
  display: flex;
 justify-content: space-between;
 margin-bottom: 70px;

}

.info-column-company {
width: 478px;
}

.info-column-contacts {
  width: 300px;
}

.info-column-contacts p {
  width: 180px;
  margin: 0;
  margin-bottom: 32px;
}

.info-column-contacts img {
  margin-bottom: 25px;
}




.info p {
  font-family: PT Sans;
  font-size: 13px;
  line-height: 24px;
}

.info h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.info ul {
  font-size: 18px;
  line-height: 24px;
  list-style: none;
  margin-bottom: 20px;
}

.info li {
  margin-bottom: 12px;
}

.btn-info-company {

  padding-left: 40px;
  padding-right: 40px;
}

.btn-info-contacts {
  padding-left: 62px;
  padding-right: 61px;
}



.main-footer {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  background-color: var(--basic-grey);
}

.footer-up  {
  font-size: 18px;
  line-height: 24px;
  display: flex;
  justify-content: space-between;
}

.footer-down {
  background-color: var(--basic-dark-grey);
  font-size: 16px;
  line-height: 18px;
}

.footer-down .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-social {
  width: 132px;
  justify-self: center;
}

.feedback-section {
  display: flex;
  justify-content: flex-end;
  max-width: 286px;
  margin: 0;

}

.footer-site-navigation,
.footer-catalog-navigation,
.social {
  list-style: none;
  margin: 0 auto;
}

 .main-footer-navigation {
   display: flex;
   flex-direction: column;
   margin: 0;
}
.footer-site-navigation,
.footer-catalog-navigation {

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0;

}

.footer-nav-link,
.footer-catalog-nav-link {
  display: flex;
  list-style: none;
  margin-left: 60px;
}

.footer-about p {
  display: flex;
  flex-direction: column;
  margin-top: 33px;
}


.footer-nav-link {
color: var(--basic-background);
}

.footer-catalog-nav-link {
color: var(--special-yellowlight);
}

.footer-nav-link:hover,
.footer-catalog-nav-link:hover {
text-decoration: underline;
}

.footer-nav-link:active,
.footer-catalog-nav-link:active,
.footer-nav-link:focus,
.footer-catalog-nav-link:focus {
  opacity: 0.5;
  text-decoration:none;
}

.footer-address {
  color: var(--special-extra-greylight);
}
.copyright {
  color: var(--basic-white);
  margin: 0;
  width: 227px;
}

.feedback {
color: var(--basic-white);
}

.developed {
  color: var(--basic-white);
}

.feedback-link,
.developed-link {
  color: var(--special-yellowlight);
}

.feedback-link:hover,
.developed-link:hover {
  text-decoration: underline;
}

.feedback-link:active,
.feedback-link:focus,
.developed-link:active,
.developed-link:focus  {
  color: var(--basic-red);
  text-decoration:none;
}

.user {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  padding-top: 12px;
  padding-right: 57px;
  padding-bottom: 12px;
  padding-left: 56px;
}
.user-nav {
  display: flex;
  min-width: 299px;
  flex-direction: column;
  margin-left: 51px;
}

.user-links {
  display: flex;
  align-self: flex-start;
  min-width: 210px;
  padding-left: 60px;
  margin-top: 7px;
}


.my-orders,
.personal-account {

  font-size: 16px;
  line-height: 18px;
  color: var(--basic-grey);


}

.my-orders:hover,
.personal-account:hover {
  color: var(--basic-red);
}

.user:active,
.user:focus,
.my-orders:active,
.my-orders:focus,
.personal-account:active,
.personal-account:focus {
  color: var(--basic-greylight);
}

.breadcrumbs a {

  font-family: var(--font-pt-sans);
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
}
.breadcrumbs {
  grid-column: 1 / -1;
  margin-bottom: 20px;
}

.product-title {
  grid-column: 1 / -1;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  padding-top: 29px;
  padding-bottom: 30px;
  padding-left: 29px;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-grey);
  background-color: var(--basic-background);
}

.product-list {
  margin-left: 30px;
}

.product-list-catalog-grid {
  display: grid;
  width: 700px;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  align-items: baseline;
  margin: 0;
  margin-bottom: 48px;
  padding: 0;
}

.page-catalog {
  display: grid;
  grid-template-columns: 220px 1fr;
  align-content: start;
}



.radio-filter-title,
.checkbox-filter-title {
  font-family: var(--font-pt-sans);
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}

.radio-filter,
.checkbox-filter {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  border: none;
  font-family: var(--font-pt-sans);
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}

.radio-filter ul,
.checkbox-filter ul {
  list-style: none;
}

.button-submit-filter {
  font: inherit;
  font-size: 13px;
  line-height: 18px
  text-align: center;
  color: var(--basic-black);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-white);
  border: 1px solid var(--special-super-greylight);
  outline: none;
}

.product-name-title {
  font-family: var(--font-pt-sans);
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}

.old-price {
  font-family: var(--font-pt-sans);
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: var(--basic-greylight);
}

.price {
  font-family: var(--font-pt-sans);
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.product-list ul {
  list-style: none;
}

.popup,
.popup-map,
.modal {
  display: none;
}




.categories-items {

  display: grid;
  width: 940px;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.slider {
  grid-column: 1 / span 2;
  grid-row: 2 / span 2;

}

.product-list-grid {
  display: grid;
  width: 940px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  align-items: baseline;
}
